/*
Yahoo Finance

Yahoo Finance API specification

API version: 1.0.9
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package yq1

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SparkAPIService SparkAPI service
type SparkAPIService service

type ApiSparkRequest struct {
	ctx context.Context
	ApiService *SparkAPIService
	interval *Interval
	range_ *Range
	symbols *string
	crumb *string
	a1 *string
	lang *string
	includePrePost *bool
	includeTimestamps *bool
	indicators *string
	corsDomain *string
}

func (r ApiSparkRequest) Interval(interval Interval) ApiSparkRequest {
	r.interval = &interval
	return r
}

func (r ApiSparkRequest) Range_(range_ Range) ApiSparkRequest {
	r.range_ = &range_
	return r
}

func (r ApiSparkRequest) Symbols(symbols string) ApiSparkRequest {
	r.symbols = &symbols
	return r
}

// Yahoo cookie crumb
func (r ApiSparkRequest) Crumb(crumb string) ApiSparkRequest {
	r.crumb = &crumb
	return r
}

// Yahoo cookie A1 for authentication
func (r ApiSparkRequest) A1(a1 string) ApiSparkRequest {
	r.a1 = &a1
	return r
}

func (r ApiSparkRequest) Lang(lang string) ApiSparkRequest {
	r.lang = &lang
	return r
}

func (r ApiSparkRequest) IncludePrePost(includePrePost bool) ApiSparkRequest {
	r.includePrePost = &includePrePost
	return r
}

func (r ApiSparkRequest) IncludeTimestamps(includeTimestamps bool) ApiSparkRequest {
	r.includeTimestamps = &includeTimestamps
	return r
}

func (r ApiSparkRequest) Indicators(indicators string) ApiSparkRequest {
	r.indicators = &indicators
	return r
}

func (r ApiSparkRequest) CorsDomain(corsDomain string) ApiSparkRequest {
	r.corsDomain = &corsDomain
	return r
}

func (r ApiSparkRequest) Execute() (*QuoteResponse, *http.Response, error) {
	return r.ApiService.SparkExecute(r)
}

/*
Spark Method for Spark

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSparkRequest
*/
func (a *SparkAPIService) Spark(ctx context.Context) ApiSparkRequest {
	return ApiSparkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuoteResponse
func (a *SparkAPIService) SparkExecute(r ApiSparkRequest) (*QuoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SparkAPIService.Spark")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v7/finance/spark"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.interval == nil {
		return localVarReturnValue, nil, reportError("interval is required and must be specified")
	}
	if r.range_ == nil {
		return localVarReturnValue, nil, reportError("range_ is required and must be specified")
	}
	if r.symbols == nil {
		return localVarReturnValue, nil, reportError("symbols is required and must be specified")
	}
	if r.crumb == nil {
		return localVarReturnValue, nil, reportError("crumb is required and must be specified")
	}
	if r.a1 == nil {
		return localVarReturnValue, nil, reportError("a1 is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "interval", r.interval, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "range", r.range_, "")
	if r.lang != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lang", r.lang, "")
	}
	if r.includePrePost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includePrePost", r.includePrePost, "")
	} else {
		var defaultValue bool = false
		r.includePrePost = &defaultValue
	}
	if r.includeTimestamps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeTimestamps", r.includeTimestamps, "")
	} else {
		var defaultValue bool = false
		r.includeTimestamps = &defaultValue
	}
	if r.indicators != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indicators", r.indicators, "")
	}
	if r.corsDomain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "corsDomain", r.corsDomain, "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "symbols", r.symbols, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	
	// to determine the Cookies header
	localVarHTTPCookies := make(map[string]string)
	if *r.crumb != "" {
		localVarHTTPCookies["Crumb"] = *r.crumb
	}
	if *r.a1 != "" {
		localVarHTTPCookies["A1"] = *r.a1
	}

	// set Cookie header
	localVarHTTPCookie := selectHeaderCookie(localVarHTTPCookies)
	if localVarHTTPCookie != "" {
		localVarHeaderParams["Cookie"] = localVarHTTPCookie
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
